/*
Colors used:
Primary Color (blue grey):
#ECEFF1
#CFD8DC
#B0BEC5
#90A4AE
#78909C
#607D8B
#546E7A
#455A64
#37474F
#263238;
Secondary Color (grey):
#FAFAFA
#F5F5F5
#EEEEEE
#E0E0E0
#BDBDBD
#9E9E9E
#757575
#616161
#424242
#212121;
*/
/* padding-top: 10px;
padding-right: 5px;
padding-bottom: 15px;
padding-left: 5px;
*/
/*padding: 10px; Adds a 10px inner spacing to all sides
padding: 10px 5px; Adds 10px to top & bottom and 5px to left and right
padding: 10px 5px 15px 5px;  Adds 10px top, 5px right, 15px bottom, 5px left
*/
html {scroll-behavior: smooth;}
* {
  box-sizing: border-box;
}
body {
  background-color: #FAFAFA;
}
body {
 font-family: 'Roboto', sans-serif;
}
body {
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.25em;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
}

h3 {
  font-size: 1.35em;
  font-weight: 400;
}
h4 {
  font-size: 1.05em;
  font-weight: 400;
}
img {
  width: 100%;
}

a {
  color: #ECEFF1;
  text-decoration: none; /* No underlining */
}
nav > ul > li > a:visited { /* visited link */
  color: #ECEFF1;
}
a:hover,
a:focus {
  color: #455A64;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #994c30;
}
.button:hover {
  opacity: 0.8;
  text-decoration: none;
}
.button {
  display: inline-block;
  background-color: #263238;
  color: #CFD8DC;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button.contact {
  background-color: transparent;
  color: #607D8B;
  text-transform: uppercase;
  border: 2px solid #607D8B;
}
.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}
.menu {
  color: #37474F
}
.menu:visited {
  color: #212121
}

header {
  background-color: #B0BEC5;
  text-align: center;
  padding: 10px;
  margin: 10px;
  box-shadow: inset -2px -3px 3px 0px rgba(50, 50, 50, 0.75);
}
/* Layout styling */
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
.logo {
  max-width: 250px;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
  width 100%;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}
#hero {
  background-color: #B0BEC5;
  padding: 20px 0;
  margin: 10px;
  display: inline-block;
  width: 100%;
}
#abouthero {
  background-color: #ECEFF1;
  padding: 20px 0;
  margin: 10px;
  display: inline-block;
  width: 100%;
}
